* {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

body {
    background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
}

.container {
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    padding-top: 68px;
    margin-bottom: 143px;
}

.logo {
    display: inline-block;
    line-height: 0;
}

.header__logo {
    margin-right: 121px;
}

.header__nav {
    display: flex;
    padding-right: 0;
}

.header__item {
    list-style-type: none;
    margin-right: 40px;
}

.header__item:last-child {
    margin-right: 0;
}

.header__link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 160%;
    color: rgb(33, 35, 83);
}

.about {
    position: relative;
    margin-bottom: 193px;
}
.about__header {
    color: rgb(33, 35, 83);
    font-size: 80px;
    font-weight: 700;
    line-height: 110%;
    width: 55%;
    margin: 0;
    margin-bottom: 50px;
}

.about__text {
    color: rgb(75, 93, 104);
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
    width: 33.5%;
    margin-bottom: 50px;
}

.about__btn {
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background-color: rgb(156, 105, 226);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 700;
    line-height: 100%;
    padding: 16px 37px;
}

.about__img {
    width: 75%;
    position: absolute;
    top: 20%;
    left: 33.5%;
    z-index: -1;
}

.description {
    display: flex;
    border-radius: 50px;
    background: rgba(240, 99, 184, 0.15);
    padding: 32px 93px 32px 16px;
    margin-bottom: 150px;
}

.description__img {
    width: 47%;
    flex-shrink: 0;
    margin-right: 65px;
}

.description__text-content {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.description__header {
    color: rgb(33, 35, 83);
    font-size: 40px;
    font-weight: 700;
    line-height: 130%;
}

.description__text {
    color: rgb(75, 93, 104);
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
}

.features {
    margin-bottom: 150px;
    text-align: center;
}

.features__header {
    color: rgb(33, 35, 83);
    font-size: 40px;
    font-weight: 700;
    line-height: 130%;
    text-align: center;
    margin-bottom: 50px;
}

.features__subheader {
    display: inline-block;
    color: rgb(75, 93, 104);
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
    width: 53%;
    margin-bottom: 100px;
}

.features__items {

}

.features__item {

}

.features__item-img {

}

.features__item-title {

}

.features__item-text {

}

.features__item-btn {

}
